<nav id='global-header' class="navbar navbar-expand-lg">
  <div class="container-fluid nav-content">
    <a class="navbar-brand" href="#"><a routerLink='games'>
        <!---->
        <img src="assets/images/logo_steam.svg" width="157px" height="37px" title="steam-logo" alt="steam-logo"
          class="ng-star-inserted">
        <!---->
      </a>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" routerLink='games'>Games</a>
        </li>
        <li class="nav-item" *ngIf="logged">
          <a class="nav-link active" aria-current="page" routerLink='library'>Library</a>
        </li>
        <li class="nav-item" *ngIf="logged">
          <a class="nav-link active" aria-current="page" routerLink='friends'>Friends</a>
        </li>
        <li class="nav-item" *ngIf="logged">
          <a class="nav-link active" aria-current="page" routerLink='profile'>Profile</a>
        </li>
        
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-log-reg-part" *ngIf="!logged; else logOutBlock">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink='login'>Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink='register'>Register</a>
        </li>
      </ul>
      <ng-template #logOutBlock>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-log-reg-part">
          <li class="nav-item">
            <a (click)="logOut()" class="nav-link active" aria-current="page" routerLink='login'>Logout</a>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>