<div class='loginFormContainer'>
    <form [formGroup]="loginForm" class = 'login-form'>
        <div class="mb-3">
            <label for="email" class="form-label">email: </label>
            <input id="email"  class="form-control" type="text" formControlName="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">password: </label>
            <input id="password"  class="form-control" type="password" formControlName="password">
        </div>
        <button (click)="logIn()" type="button" class="btn btn-primary" for='nickname'>Login</button>
    </form>
</div>