
h4 {
    margin-bottom: 0px;
}

.search-friends-btn-container{
    display: flex;
    justify-content: flex-end;
}

.friends-list-container , .add-friends-list-container{
    margin-top: 30px;
}

.list-group-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.btn-success{
    margin-right: 3px;
}

.btn-danger, .btn-success{
    width: 80px;
}


@media (max-width: 500px){
    .friends-content-block{
        margin: 0px !important;
    }
    .pending-status-buttons{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .btn-success{
        margin-right: 0px;
    }
}    

